##  COVID-19 Visualization with Racing Bar Chart

In [1]:
import os
import pandas as pd
import wget
# html embedding
from IPython.display import Javascript
from IPython.core.display import display
from IPython.core.display import HTML

In [40]:
#shifat.ruet@gmail.com
#27july, 2020

### Lets download and read latest dataset from Github of CSSEGIS of John Hopkins University

In [41]:
urls = ['https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv']
for url in urls:
    filename = wget.download(url)
    print('\n downloaded')

100% [............................................................................] 193996 / 193996
 downloaded
100% [............................................................................] 138878 / 138878
 downloaded
100% [............................................................................] 169368 / 169368
 downloaded

### Read the CSV files and take into dataframe

In [5]:

conf_df = pd.read_csv('time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('time_series_covid19_deaths_global.csv')
recv_df = pd.read_csv('time_series_covid19_recovered_global.csv')

In [6]:
conf_df.head(10)
#deaths_df.head()
#recv_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/17/20,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,35229,35301,35475,35526,35615,35727,35928,35981,36036,36157
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3906,4008,4090,4171,4290,4358,4466,4570,4637,4763
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,21948,22549,23084,23691,24278,24872,25484,26159,26764,27357
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,880,880,880,884,884,889,889,897,897,897
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,638,687,705,749,779,812,851,880,916,932
5,NaN,Antigua and Barbuda,17.06080,-61.796400,0,0,0,0,0,0,...,76,76,76,76,76,76,76,82,82,82
6,NaN,Argentina,-38.41610,-63.616700,0,0,0,0,0,0,...,119301,122524,126755,130774,136118,141900,148027,153520,158334,162526
7,NaN,Armenia,40.06910,45.038200,0,0,0,0,0,0,...,34001,34462,34877,34981,35254,35693,36162,36613,36996,37317
8,Australian Capital Territory,Australia,-35.47350,149.012400,0,0,0,0,0,0,...,113,113,113,113,113,113,113,113,113,113
9,New South Wales,Australia,-33.86880,151.209300,0,0,0,0,3,4,...,3550,3568,3588,3599,3614,3633,3640,3654,3668,3685

### List down all the columns

In [7]:
conf_df.columns
# deaths_df.columns
# recv_df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '7/17/20', '7/18/20', '7/19/20', '7/20/20', '7/21/20', '7/22/20',
       '7/23/20', '7/24/20', '7/25/20', '7/26/20'],
      dtype='object', length=191)

### Group all the case country wise

In [8]:
# latest condensed
conf_df_grouped = conf_df.groupby('Country/Region')[conf_df.columns[4:]].sum().reset_index()
deaths_df_grouped = deaths_df.groupby('Country/Region')[deaths_df.columns[4:]].sum().reset_index()
recv_df_grouped = recv_df.groupby('Country/Region')[recv_df.columns[4:]].sum().reset_index()
conf_df_grouped.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,7/17/20,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,35229,35301,35475,35526,35615,35727,35928,35981,36036,36157
1,Albania,0,0,0,0,0,0,0,0,0,...,3906,4008,4090,4171,4290,4358,4466,4570,4637,4763
2,Algeria,0,0,0,0,0,0,0,0,0,...,21948,22549,23084,23691,24278,24872,25484,26159,26764,27357
3,Andorra,0,0,0,0,0,0,0,0,0,...,880,880,880,884,884,889,889,897,897,897
4,Angola,0,0,0,0,0,0,0,0,0,...,638,687,705,749,779,812,851,880,916,932

In [9]:
countries_infected = conf_df['Country/Region'].unique()
print ('total number of countries/regions affected: ', len(countries_infected))

total number of countries/regions affected:  188

     ###List down cases of Bangladesh

In [25]:
conf_df_bd = conf_df[conf_df['Country/Region']=='Bangladesh']
provinces = conf_df_bd['Province/State'].unique()
print ('total number of affected provinces in BD: ', len(provinces))
conf_df_bd.head()

total number of affected provinces in BD:  1

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/17/20,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20
20,NaN,Bangladesh,23.685,90.3563,0,0,0,0,0,0,...,199357,202066,204525,207453,210510,213254,216110,218658,221178,223453

### Save the prepared dataframe as csv files without the flag urls

In [11]:
conf_df_grouped.to_csv('covid_19_race_bar_conf.csv', index=False)
deaths_df_grouped.to_csv('covid_19_race_bar_death.csv', index=False)
recv_df_grouped.to_csv('covid_19_race_bar_recv.csv', index=False)

### To add the counrty flag on the graph

In [40]:
#pop_data = pd.read_csv('Data_pop.csv')
#pop_data.head()

In [41]:
#image_url = pop_data[['Country Name','Image URL']]
#image_url.head()

In [42]:
#image_url.to_csv('country_flags_url.csv', index=False)

### Read the csv files containing URL of the country flags

In [12]:
country_flags = pd.read_csv('country_flags_url.csv')
country_flags.head()

   Country Name                                   Image URL
0        Angola  https://www.countryflags.io/ao/flat/64.png
1       Burundi  https://www.countryflags.io/bi/flat/64.png
2         Benin  https://www.countryflags.io/bj/flat/64.png
3  Burkina Faso  https://www.countryflags.io/bf/flat/64.png
4      Botswana  https://www.countryflags.io/bw/flat/64.png

In [13]:
country_flags.describe()

       Country Name                                   Image URL
count           215                                         215
unique          215                                         215
top     Philippines  https://www.countryflags.io/sy/flat/64.png
freq              1                                           1

### Add a Flag URL column to your Corona cases Dataframe

In [14]:
deaths_df_grouped.insert(1,'Flag URL','')
conf_df_grouped.insert(1,'Flag URL','')
recv_df_grouped.insert(1,'Flag URL','')
deaths_df_grouped.head()

,Country/Region,Flag URL,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,7/17/20,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20
0,Afghanistan,,0,0,0,0,0,0,0,0,...,1147,1164,1181,1185,1186,1190,1211,1225,1248,1259
1,Albania,,0,0,0,0,0,0,0,0,...,107,111,112,113,117,120,123,128,134,138
2,Algeria,,0,0,0,0,0,0,0,0,...,1057,1068,1078,1087,1100,1111,1124,1136,1146,1155
3,Andorra,,0,0,0,0,0,0,0,0,...,52,52,52,52,52,52,52,52,52,52
4,Angola,,0,0,0,0,0,0,0,0,...,29,29,29,29,30,33,33,35,39,40

### How to get the flag URL

In [26]:
flag = country_flags[country_flags['Country Name']=="Bangladesh"]['Image URL']
flag = list(flag)[0]
flag
#rslt_df = image_url.loc[image_url['Country Name'] == 'Angola'] 
#rslt_df.iloc[:,1]

'https://www.countryflags.io/bd/flat/64.png'

### How to get specific Country index

In [27]:
index = deaths_df_grouped[deaths_df_grouped['Country/Region']=="Bangladesh"].index
print(index)
print(deaths_df_grouped.loc[index,:])

Int64Index([13], dtype='int64')
   Country/Region                                    Flag URL  1/22/20  \
13     Bangladesh  https://www.countryflags.io/bd/flat/64.png        0

    1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  1/28/20  1/29/20  ...  \
13        0        0        0        0        0        0        0  ...

    7/17/20  7/18/20  7/19/20  7/20/20  7/21/20  7/22/20  7/23/20  7/24/20  \
13     2547     2581     2618     2668     2709     2751     2801     2836

    7/25/20  7/26/20
13     2874     2928

[1 rows x 189 columns]

In [28]:
deaths_df_grouped.loc[index,:]['Flag URL']

13    https://www.countryflags.io/bd/flat/64.png
Name: Flag URL, dtype: object

In [29]:
deaths_df_grouped.at[index,'Flag URL']=flag
deaths_df_grouped.loc[index,:]['Flag URL']

13    https://www.countryflags.io/bd/flat/64.png
Name: Flag URL, dtype: object

### Insert Flag URLs for all the countries

In [30]:
flags_unk = []
for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = conf_df_grouped[conf_df_grouped['Country/Region']==cnt].index
        conf_df_grouped.at[index,'Flag URL']=flag[0]
    else:
        flags_unk.append(cnt)

for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = deaths_df_grouped[deaths_df_grouped['Country/Region']==cnt].index
        deaths_df_grouped.at[index,'Flag URL']=flag[0]

    
for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = recv_df_grouped[recv_df_grouped['Country/Region']==cnt].index
        recv_df_grouped.at[index,'Flag URL']=flag[0]

In [31]:
flags_unk

['Bahamas',
 'Brunei',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Diamond Princess',
 'Czechia',
 'Egypt',
 'Gambia',
 'Holy See',
 'Korea, South',
 'Kyrgyzstan',
 'North Macedonia',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'Taiwan*',
 'United Arab Emirates',
 'United Kingdom',
 'Venezuela',
 'Syria',
 'Laos',
 'Saint Kitts and Nevis',
 'Kosovo',
 'Burma',
 'MS Zaandam',
 'Western Sahara',
 'Yemen']

In [32]:

cnt_ext = {'US':'https://www.countryflags.io/us/flat/64.png','Iran':'https://www.countryflags.io/ir/flat/64.png',
           'United Kingdom':'https://www.countryflags.io/gb/flat/64.png', 
           'Korea, South':'https://www.countryflags.io/kr/flat/64.png'}
for cnt,url in cnt_ext.items():
        index = deaths_df_grouped[deaths_df_grouped['Country/Region']==cnt].index
        deaths_df_grouped.at[index,'Flag URL']=url
        index = conf_df_grouped[conf_df_grouped['Country/Region']==cnt].index
        conf_df_grouped.at[index,'Flag URL']=url
        index = recv_df_grouped[recv_df_grouped['Country/Region']==cnt].index
        recv_df_grouped.at[index,'Flag URL']=url

In [33]:
deaths_df_grouped.head()

,Country/Region,Flag URL,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,7/17/20,7/18/20,7/19/20,7/20/20,7/21/20,7/22/20,7/23/20,7/24/20,7/25/20,7/26/20
0,Afghanistan,https://www.countryflags.io/af/flat/64.png,0,0,0,0,0,0,0,0,...,1147,1164,1181,1185,1186,1190,1211,1225,1248,1259
1,Albania,https://www.countryflags.io/al/flat/64.png,0,0,0,0,0,0,0,0,...,107,111,112,113,117,120,123,128,134,138
2,Algeria,https://www.countryflags.io/dz/flat/64.png,0,0,0,0,0,0,0,0,...,1057,1068,1078,1087,1100,1111,1124,1136,1146,1155
3,Andorra,https://www.countryflags.io/ad/flat/64.png,0,0,0,0,0,0,0,0,...,52,52,52,52,52,52,52,52,52,52
4,Angola,https://www.countryflags.io/ao/flat/64.png,0,0,0,0,0,0,0,0,...,29,29,29,29,30,33,33,35,39,40

### Save the new data with included flag url

In [34]:
conf_df_grouped.to_csv('covid_19_race_bar_conf.csv', index=False)
deaths_df_grouped.to_csv('covid_19_race_bar_death.csv', index=False)
recv_df_grouped.to_csv('covid_19_race_bar_recv.csv', index=False)

### Bar Chart Race Visualization

https://public.flourish.studio/visualisation/1642821/

In [35]:
HTML('''<div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/1642821"><script src="https://public.flourish.studio/resources/embed.js"></script></div>''')

In [36]:
##thanks